.logo1{

    background-color: #a3130d;
    text-align: right;
    padding-left: 20vh;
    


}

.logo1 a:link {
    background: #a3130d;
    color: #fff;
    font-family: 'Vidaloka', serif;
    text-decoration: none;
    padding: 8px;
    float: left;
    margin-top: 5vh;}
    
    
.img1{
   padding-left: 50px;

}
 .curso{
     padding-left: 25vh;
     margin-right: 20vh;
     padding-right: 30px;
     font-family: 'Vidaloka', serif;
     text-align: justify;
   
     
 }
 .grade{
    padding-left: 25vh;
    margin-right: 20vh;
    padding-right: 30px;
    font-family: 'Vidaloka', serif;
    text-align: justify;
    
}

.ctt{
  
    padding-left: 25vh;
    padding-right: 5vh;
    font-family: 'Vidaloka', serif;
    padding-bottom: 5vh;
    padding-top: 2vh;
    background-color: #a3130d;
    border-style: none;
    
    color: whitesmoke;

    
}

.ctt button{
    
background-color: #470402;
padding:1vh;
border-style: none;
margin-left: 4vh;
transition-delay: 20ms;
transition-duration: 300ms;

}


.ctt button:hover{
    
background-color:#300201;}
.ctt1{
    padding-left: 25vh;
    padding-right: 30px;
    font-family: 'Vidaloka', serif;
    background-color: #a3130d;
    padding:20px;
    text-align: center;
    color: whitesmoke;
   
    
}

a:link {
    color: white;
 }
 
 /* link que foi visitado */
 a:visited {
     color: white;
 }
 
 /* mouse over */
 a:hover {
     color: #404040;
 }
 
 /* link selecionado */
 a:active {
     color: #404040;
 }

 .back1{

     color: black;
     text-align: center;
 }

 .bg1{

    color: black;
    text-align: center;
    
    padding: 1vh;
    font-family: 'Gotham';
    font-weight: 600;
    font-size: 12px;
    color: #404040;
    background-color: #f0f0f0;
    text-align: center;
    text-transform: uppercase;
}

.bg1 a:link {
    color: #404040;
    padding-left: 3vh;
 }

 

 
 /* link que foi visitado */
 .bg1 a:visited {
     color: #404040;
 }
 
 /* mouse over */
 .bg1 a:hover {
     color: #404040;
 }
 
 /* link selecionado */
 .bg1 a:active {
     color: #404040;
 }
 i {
     padding-left: 1vh;
 }

 @media (max-width: 700px)
 {
     .img1{
         position: fixed;
     }
     .logo1 {
         margin: 0;
        padding-left: 5px;
        padding-top: 1px;
     }
     .curso{
         margin-right: 2vh;
         text-align: justify;
        padding-left: 5vh;
        padding-right: 5vh;
        font-family: 'Vidaloka', serif;     
 }
     .grade{
        margin-right: 2vh;
        text-align: justify;
        padding-left: 5vh;
        padding-right: 5vh;
        font-family: 'Vidaloka', serif;     
 }
     .ctt{
        margin-right: 2vh;
        text-align: justify;
        padding-left: 5vh;
        padding-right: 5vh;
        font-family: 'Vidaloka', serif;     
 }
}